/* define fonts family */

@font-face {
    font-family: woody-wood-demo;
    src: url(./font/woody-wood-demo.regular.otf);
}

@font-face {
    font-family: dancing-script;
    src: url(./font/DancingScript-VariableFont_wght.ttf);
}


/* General styles */

body {
    background-color: whitesmoke;
}

.logo, h1, footer h2 {
    font-family: "woody-wood-demo";
}

nav, 
.title-block p,
.address p {
    font-family: 'dancing-script';
}

/* index.html page styles */

.carousel img {
    max-height: 300px;
    margin: 0 auto;
}

#qui-sommes-nous {
    padding-top: 80px;
    margin-top: -80px;
}


/* header style */

.logo_title {

    font-size: 1.6em;
}

.logo img {
    width: 1.6em;
    height: auto;
}

.homepage .logo img {
    filter: invert(38%) sepia(85%) saturate(403%) hue-rotate(100deg) brightness(92%) contrast(91%);
}

.eventpage .logo img {
    filter: invert(68%) sepia(82%) saturate(2400%) hue-rotate(145deg) brightness(99%) contrast(92%);
}

.homepage .title-block {
    background-image: url("./img/Beaver_dams\,_Whitefish_Channel.jpg");
}

.eventpage .title-block {
    background-image: url("./img/beaver\ barrage.jpg");
}

.title-block {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 47em;
}

.title {
        height: auto;
}

.homepage .title {
    background-color: rgba(255, 255, 255, 0.555);
}

.eventpage .title {
    background-color: rgba(88, 88, 88, 0.555);
}

.title h1 {
    font-size: 4rem;
    margin: auto;
}


/* header media queries */

@media screen and (min-width:992px) {

    .homepage nav a.active, 
    .homepage nav li a:hover {
        border-bottom: 5px #198754 solid;
    }
    
    .eventpage nav a.active, 
    .eventpage nav li a:hover {
        border-bottom: 5px #0dcaf0 solid;
    } 
    
    .title h1 {
        font-size: 5rem;
        margin: auto;
    }

    .title-block {
        height: 47em;
    }
    
}

/* footer style */

footer {
    background-color: #333;
    background-image: url('./img/pattern-main-dark.svg');
    background-repeat: repeat;
}
