/* define fonts family */

@font-face {
    font-family: woody-wood-demo;
    src: url(./font/woody-wood-demo.regular.otf);
}

@font-face {
    font-family: dancing-script;
    src: url(./font/DancingScript-VariableFont_wght.ttf);
}


/* General styles */

body {
    background-color: whitesmoke;
}

.logo, h1, footer h2 {
    font-family: "woody-wood-demo";
}

nav, 
.title-block p,
.address p {
    font-family: 'dancing-script';
}


/* header style */

.logo_title {

    font-size: 1.6em;
}

.logo img {
    width: 1.6em;
    height: auto;
    filter: invert(21%) sepia(100%) saturate(416%) hue-rotate(87deg) brightness(101%) contrast(95%);
}

.title-block {
    background-image: url("./img/Beaver_dams\,_Whitefish_Channel.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 47em;
}

.title {
    background-color: rgba(32, 32, 32, 0.418);
    height: auto;
}

.title h1 {
    font-size: 4rem;
    margin: auto;
}


/* header media queries */

@media screen and (min-width:992px) {

    nav a.active {
        border-bottom: 5px green solid;
    }

    nav li a:hover {
        border-bottom: green 5px solid;
    }   
    
    .title h1 {
        font-size: 5rem;
        margin: auto;
    }
}


/* footer style */

footer {
    background-color: #333;
    background-image: url('./img/pattern-main-dark.svg');
    background-repeat: repeat;
}

/* styles for index.html */

#qui-sommes-nous {
    padding-top: 70px;
    margin-top: -70px;
}
